src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="63cc22d8-ab68-4ef5-bfe5-28b57c6d4a8a" >
		<http:listener doc:name="Listener" doc:id="e6ecb13a-9657-4da4-9529-2616e2cccb15" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]">
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="d55288e0-62b0-4d5a-a80e-0bc769b9036a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="64e31ba5-a544-4321-9a04-bb96addf6572" message="Request Received For FastGo External System For TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="25551ba1-7c86-4af0-86be-553204087f46" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="6ab9a6f0-ffd7-450d-801f-7e4f2e6e7eed" message="Routes flow called For FastGo External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="46bf5f1e-d6ea-41ed-8a86-f35215adcec1" name="FastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="12ac6167-7eef-46cc-b117-8943ebc55fd3" message="Schedule flow called For FastGo External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="10453619-b736-4a46-9f9c-a95bb38ab909" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="575bb394-e95a-4c10-b8c8-f95ccfb7b7bf" message="URI Parameter Is Not Correct For FastGo External System For TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="04714d3d-09fe-49f3-8ba5-d0a1197c91aa" message="Response Sent For FastGo External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="babcd0ba-eeb6-4270-b29d-c65e2e0227a5" >
				<logger level="INFO" doc:name="Logger" doc:id="5fdea400-9e05-4a7e-8f9d-9aebef692555" message="Error Occured For FastGo External System For TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="1c9933b3-c0b2-4a97-b48d-bbd677393553" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage": "Error in TravelOnTip System"
}]]></ee:set-variable>
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
